*{
    margin:0;
    font-family:Arial;
    border:border-box;
    

}
.navbar{
    background-color:#0f1111;
  color:white;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav_logo{
    height:50px;
    width:100px;
    margin-right:5px;
   
}
.logo{
    background-image: url("amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100px;
   
}
.border{
    border:2px solid transparent;
    
}
.border:hover{
   
   border:1.5px solid white;
   
}
/* box2 */ 


.add-first{
    color:#cccc;
    font-size:0.85rem;
    margin-left:18px;
}
.add-icon{
    display:flex;
}
.add-second{
    font-size:1rem;
    margin-left:5px;
}
/* search_bar*/
.search_bar{
    display:flex;
   
    width:620px;
    height:40px;
    border-radius:4px;
    justify-content: space-evenly;
    width:50%;
}
.select_op{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;;
   background-color:#f3f3f3;
   width:50px;
   text-align:center;
   border:none;
}
.search{
   flex:1;
    border:none;
    font-size: 1rem;

}
.search_logo{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    background-color:#febd68;
    color:black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

/* box4*/

span{
    font-size:0.7rem;
}
.nav-sec{
    font-size:0.85;
    font-weight: bolder;

}

/*cart section*/
.cart i{
    font-size:30px;
}
.cart{
    font-size:0.85rem;
    font-weight:700px;
}

/* panel*/
.panel{
    height:40px;
    display:flex;
    background-color:#222f3d;
    align-items:center;
    justify-content: space-evenly;
    color:white;

}
.panel-option p{
    display:inline;
    margin-right:10px;
   
}
.panel-option{
    width:75%;
    font-size:0.75rem;
    
}
.panel-deals{
    font-size:0.85rem;
    font-weight:bold;

}
/* hero section*/

.hero_section{
    height:350px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
}

.hero_msg{
    color:black;
    background-color:white;
    height:40px;
    display:flex;
    align-items:center;
     justify-content:center;
     align-self: flex-end;
    width:80%;
    margin-bottom:25px;;

}
.hero_msg a{
    color:#007185;
}


/* content section*/
.content{
    display:flex;
    background-color:#e2e7e6;
    justify-content:space-evenly;
    flex-wrap:wrap;


}
.box{
    height:400px;
    width:23%;
    
    background-color:white;
    padding:20px 0px 15px;
    margin:15px;

}
.image{
    background-size:cover;
    height:300px;
    margin-top :1rem;
    margin-bottom:1rem;
}
.box-content{

    margin-left:1rem;
    margin-right:1rem;

}
.box-content p{
    color:#007185;
}

/* footer*/

footer{
    margin-top:10px;
}
.foot-panel{
    display:flex;
    background-color:#34475a;
    justify-content: center;
    height:50px;
    align-items: center;
    color:white;
    font-size:0.85rem;



}
.foot-panel2{
  background-color:#222f3d;
  color:white;
  height:400px;
  display:flex;
  justify-content: space-evenly;
}
ul a{
    display:block;
    font-size:0.85rem;
   margin-top: 10px;
   color:#dddddd;
}
.foot-panel2 div{
    margin-top:15px;
}

/* foot panel */

.foot-panel3{
    background-color:#222f3d ;
   border-top:0.5px solid white;
   height:70px;
   display:flex;
   justify-content: center;
   
}
.f_logo{
    background-image: url("amazon_logo.png");
     background-size:cover;
    height:50px;
    width:100px;
}
.foot-panel4{
    height:70px;
    background-color:#0f1111;
    color:white;
     font-size:12px;
     text-align:center;
    
}
.copyright{
    padding-top:18px;
    margin-bottom:5px;
  
 
}
a:hover{
 
    text-decoration: underline;

}
.box p:hover{
    text-decoration: underline;
}

.border2:hover{
    border:2px solid orange;
}




